@font-face {
  font-family: mona;
  src: url("./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2");
}
@font-face {
  font-family: regular;
  src: url("./fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2");
}

@font-face {
  font-family: semibold;
  src: url("./fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mona;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 20%;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.nav_bar {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.nav_bar h3 {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.nav_bar img {
  width: 100px;
  height: 30px;
  object-fit: cover;
}
.nav_button {
  gap: 20px;

  text-align: center;
  display: flex;
  align-items: center;
}

.nav_button .signup {
  background: none;
  border: none;
  font-weight: 700;
}

.nav_button .login {
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  background: black;
  border: none;
  font-weight: 700;
}

.hero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 60px;
}
.box1 {
  width: 40%;
}

.box1 h1 {
  font-size: 48px;
  font-stretch: expanded;
  line-height: 1.08;
  font-weight: 600;
  padding-bottom: 20px;
}
.box1 p {
  font-size: 16px;
}

.box1_btn {
  padding: 40px 0px 15px 0px;
  gap: 10px;
  display: flex;
}
.box1_btn i {
  padding-right: 5px;
}
.same_btn {
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  border: none;
}

.shots_btn {
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  background-color: #3a3546;
  color: white;
  cursor: pointer;
  border: none;
}
.box1_btn :hover {
  background-color: #faf9fb;
  color: black;
}

.search_box {
  display: flex;
  align-items: center;
  width: 450px;
  background-color: #f3f3f6;
  border-radius: 50px;
  padding: 5px 10px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.search_box:focus-within,
.search_box:hover {
  background-color: #ffffff;
  border-color: #faebf9;
}

.search_box input {
  flex: 1;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}

.search_box i {
  background-color: #ea4c89;
  color: white;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}
.search_box i:hover {
  opacity: 0.9;
}

.popular_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}
.popular_box h3 {
  font-size: 13px;
}
.popular_box h6 {
  font-size: 12px;
  border-radius: 50px;
  padding: 10px 15px;
  border: 1px solid #e7e7e9;
  font-weight: 400;
  cursor: pointer;
}
.popular_box h6:hover {
  background-color: #f2f2f2;
}
.box2 {
  width: 50%;
  height: 200px;
}

.box2 video {
  width: 100%;
  border-radius: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

.card_box {
  width: 360px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
  cursor: pointer;
}
.card_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.807));
  position: absolute;
  bottom: -40%;
  transition: ease all 0.5s;
}
.bottom h2 {
  font-size: 16px;
  color: white;
}
.bottom i {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}
.botton_i {
  display: flex;
  gap: 10px;
}
.card_box:hover .bottom {
  bottom: 0%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  width: 100%;
  height: 20%;
  color: #6E6D7A;
}

.foot1 , .foot2{
  display: flex;
  gap: 30px;
   
}
.foot1 h5 , .foot2 h5{
 font-weight: 400;
}


