@font-face {
    font-family: batman;
    src: url(./BatMenG-v5JA.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{   
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(https://wallpapercave.com/wp/wp12832835.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
   
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.box h1{
    padding:100px 0 50px 0;
    color: transparent;
    background-image: linear-gradient(360deg,rgb(69, 68, 68) , rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    font-family: batman;
    font-size: 100px;
    text-transform: uppercase;
}
.box img{
    width: 100px;
    padding:120px 0 50px 0;
    transform: rotate(45deg);
}

button{
    padding: 10px 30px;
    font-size: 30px;
    font-family: batman;
    text-transform: uppercase;
    background-color: #4D4D4D;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color:black;
}