@font-face {
    font-family: font1;
    src: url(./BelionRadego-zrO73.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 40px 0px 40px ;
    text-decoration: none;
}
#nav a{
 text-decoration: none;
    color: black;
    text-align: center;
    margin-right: 30px;
    font-size: 15px;
}

.nav2 h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: font1;
    text-align: center;
}

.sweater h1{
    font-size: 200px;
    font-weight: 400;
    padding-left: 40px;
}

.box{
    width: 300px;
    padding: 10px 40px;
    /* position: absolute;
    bottom: 9%;
    left:3% */
}

.box h4{
    margin-bottom: 10px;
    font-size: 15px;
}
.box p{
    font-size: 13px;
    margin-bottom: 10px;
}

.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.box1 h1{
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.box1 a{
    text-decoration: underline;
   color: black;
    font-size: 22px;

}

.images img{
    width: 300px;
    object-fit: cover;
    position: absolute;
}

#img1{
    width: 150px;
   top:30%;
   right: 20%;
   z-index: 99;
}
#img2{
    width: 250px;
   top:20%;
   right: 7%;
}
#img3{
    width: 200px;
   top:50%;
   right: 25%;
}
#img4{
    width: 130px;
   bottom:6%;
   right: 16%;
}

