* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main{
  /* width: 100%;
  height: 100%; */
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5% 400px 3fr 1fr;
  grid-template-areas:
    "header header header header header"
    "section section section section section"
    "div-left div-lcenter div-down div-rcenter div-right"
    "div-ldown div-lcenter div-down div-rcenter div-rdown";
padding: 20px;
  grid-gap: 20px 10px;
  align-items: end;
}

header {
  padding: 0px 50px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo .nav {
  cursor: pointer;
}
.logo a {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: green;
}
.nav {
  display: flex;
  gap: 70px;
}
.nav a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
.btn {
  display: flex;
  gap: 20px;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #172814;
  font-size: 16px;
  cursor: pointer;
}
.donate-btn {
  background-color: #172814;
  color: white;
}
.join-btn {
  background-color: transparent;
  color: #172814;
}

section {
  grid-area: section;
}

.hero{
    padding: 70px;
    text-align: center;
}
.hero h1{
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
}
.hero p{
    text-align: center;
    padding: 30px 200px;
    font-size: 20px;
    font-weight: 300;
}

#div-left {
    height: 80%;
    padding: 30px 0px;
  grid-area: div-left;
  background-image: url(https://images.unsplash.com/photo-1489702932289-406b7782113c?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  display: flex;
  align-items: end;
}
#div-left h3{
    color: white;
    padding: 0px 20px;
    font-size: 40px;
    
}
#div-ldown {
   
  grid-area: div-ldown;
  background-color:#448168;
  color: white;
    padding: 30px;
     border-radius: 40px;
}

#div-ldown p, #div-lcenter h1 , #div-right h4 {
    color: white;
    font-size: 40px;
}
#div-ldown p,#div-lcenter p ,#div-rcenter p{
    padding-top: 10px;
    font-size: 16px;
}
#div-lcenter {
    
  grid-area: div-lcenter;
 background-image: url(https://images.unsplash.com/photo-1585869197024-7d871ec5b2ea?q=80&w=376&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 border-radius: 40px;
 height: 60%;
 padding: 30px;
 display: flex;
 flex-direction: column;
    justify-content: end;
    color: white;
}

#div-down {
  grid-area: div-down;
background-color: #7D8CB0;
 border-radius: 40px;
 height: 50%;
 padding: 30px 30px 40px 30px;
    color: white;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#div-down button{
        background-color: #001923;
        font-size: 16px;
        color: white;      
        text-align: center;
}

#div-rcenter {
  grid-area: div-rcenter;
  background-image: url(https://images.unsplash.com/photo-1585869197024-7d871ec5b2ea?q=80&w=376&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 border-radius: 40px;
 height: 60%;
 padding: 30px;
 display: flex;
 flex-direction: column;
    justify-content: end;
    color: white;
}

#div-right {
  grid-area: div-right;
  height: 80%;
    padding: 50px 30px 0px 30px;
background-color: #063F2E;
  background-position: center;
  background-size: cover;
  border-radius: 40px;

 
}
#div-rdown {
  grid-area: div-rdown;
  background-color:#448168;
  color: white;
    padding: 50px;
     border-radius: 40px;
    height: 100%;
    font-size: 20px;
    text-align: center;
}
