@font-face {
    font-family: apple;
    src: url(./sf-pro-display_regular.woff2);
}

@font-face {
    font-family: r_apple;
    src: url(./sf-pro-text_regular.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: r_apple;
}

.main {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    background-color: #161617;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
}

.nav a {
    text-decoration: none;
    font-weight: 50;
    font-size: 13px;
    color: #DADADA;
    font-family: r_apple;
}

.hero{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    background-image: url("./hero_ase25_startframe__cgkiuyndpjxy_medium_2x.jpg");
    background-position: top;
    background-size: cover;
    padding: 40px 0px 20px 0px;
    margin-bottom: 10px;
}

.hero h1{
    color: white;
    font-size: 55px;
}
.hero h3{
    color: white;
    font-size: 25px;
    font-weight: 100;
}
.container {
    height: 90%;
    width: 100%;
    text-align: center;
    padding: 50px;
    color: white;
    background-image: url("./hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg");
    background-position: center;
    background-size: cover;


}

.container h1 {
    font-size: 50px;
    font-weight: bolder;

}

.container h3 {
    font-size: 27px;
    font-weight: 100;
}

.btn_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.btn_1 button {
    border-radius: 50px;
    font-size: 16px;
    font-weight: 100;
    padding: 12px 20px;
    cursor: pointer;
}

.btn_1 .learn_btn {
    color: #ffffff;
    background-color: #0071E3;
    border: none;

}

.btn_1 .learn_btn:hover {
    background-color: #0278ed;
}

.btn_1 .buy_btn {
    background-color: transparent;
    color: #0278ed;
    border: 1px solid #0278ed;
}

.btn_1 .buy_btn:hover {
    background-color: #0278ed;
    color: #ffffff;
    border: 1px solid #0071E3;
}


.container1{
    margin-top: 10px;
    height: 100%;
    background-color: #F5F5F7;
    text-align: center;
    padding: 40px;
    background-image: url("./hero_iphone_air__0gxyavihpiqu_medium_2x.jpg");
    background-size: cover;
    background-position: center;
}

.container1 h1{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10px;
}
.container1 h3{
    font-size: 25px;
    font-weight: 100;
}

.container2{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 50%;
    background-image: url("./promo_holiday_2025__d5j0zrzqr6mq_medium_2x.jpg");
    height: 100%;
    background-position:top ;
    background-size:cover;
    padding: 20px;
}
.box1 h1{
      font-weight: bold;
    font-size: 40px;
}

.box1 h3{
    font-size: 20px;
    font-weight: 100;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-image: url("https://www.apple.com/v/home/ci/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg");
     width: 50%;
    height: 100%;
     background-position:top ;
    background-size:cover;
    padding-top: 40px;
}

.box2 h1{
      font-weight: bold;
    font-size: 40px;
}

.box2 h3{
    font-size: 20px;
    font-weight: 100;
}



.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-image: url("https://www.apple.com/v/home/ci/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_large_2x.jpg");
      width: 50%;
    height: 100%;
     background-position:top ;
    background-size:cover;
    padding-top: 40px;
}
.box3 h1{
      font-weight: bold;
    font-size: 40px;
}

.box3 h3{
    font-size: 20px;
    font-weight: 100;
}
.box4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-image: url("https://www.apple.com/v/home/ci/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_large_2x.jpg");
     width: 50%;
    height: 100%;
     background-position:top ;
    background-size:cover;
    padding-top: 40px;
    
}

.box4 h1{
    font-size: 30px;
    text-transform: uppercase;
}

.box4 h3{
    font-size: 18px;
    font-weight: 100;
}

footer{
    background-color: #161617;
    text-align: center;
    color: white;
    padding: 15px;
    font-family: resumename;
    text-transform: uppercase;
}

